/* Основний колір текста #212121 */
/* Додатковий колір текста #757575 */
/* Білий колір текста #FFFFFF */
/* другий білий колір rgba(255, 255, 255, 0.6) */
/* Колір акцента #2196F3 */
/* основний колір фона #FFFFFF */
/* додатковий колір фона #F5F4FA */
/* колір фона шапки #FFFFFF */
/* колір фона футера #2F303A */
/* колір логотипу 1-частина #2196F3, 2-частина #000000 */
/* колір кнопки #F5F4FA */
/* колір акцента кнопки #2196F3 */
/* background hero: : #C4C4C4; */

/* ПОРТФОЛІО */

:root {
  --primary-font-color: #212121;
  --secondary-font-color: #757575;
  --wite-text-color: #ffffff;
  --button-color: #f5f4fa;
  --button-accent-color: #2196f3;
  --accent-color: #2196f3;
  --card-set-gap: 30px;
}
/* Основні властивості, які наслідуються у тілі сторінки */
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-font-color);
  background-color: #ffffff;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* header */
.header {
  padding-top: 24px;
  padding-bottom: 25px;

  background-color: #ffffff;

  border-bottom: 1px solid #ececec;
}

.navigator {
  display: flex;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
}

/* навігація по сторінці */

.logo {
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: #000000;
}

.logo-color {
  color: #2196f3;
}

.link-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: #2196f3;
}

.link-portfolio,
.link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-font-color);
}

.link-studio:hover,
.link-studio:focus,
.link-portfolio:hover,
.link-portfolio:focus,
.link-contacts:hover,
.link-contacts:focus {
  color: var(--accent-color);
}

.link {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.link-page:not(:last-child) {
  margin-right: 50px;
}

/* контакти */

.mail-tel {
  display: flex;

  padding: 0;
  margin: 0 0 0 auto;
}

.mail-tel .mail,
.mail-tel .tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--secondary-font-color);
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: var(--accent-color);
}

.link,
.mail-tel {
  list-style: none;
}

.mail-tel-link:not(:last-child) {
  margin-right: 50px;
}

/* main */

/* Герой Секція 1*/ /* Тимчасовий фон для героя, щоб було видно текст */
.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-color: #2f303a;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/background-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--wite-text-color);
}

.hero-button {
  display: block;
  min-height: 50px;
  min-width: 200px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--wite-text-color);
  background-color: #2196f3;
  cursor: pointer;

  border-radius: 4px;
  border-color: transparent;
}

/* Секція 2 */

.work {
  padding-top: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.work-benefits {
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.work-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-font-color);
}
.work-list {
  display: flex;
  flex-wrap: wrap;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.work-skill {
  flex-basis: calc((100% - 90px) / 4);
  margin-right: var(--card-set-gap);
}

.work-skill:nth-child(4n) {
  margin-right: 0;
}

.work-skill::before {
  display: block;
  content: '';
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.icon-antenna::before {
  background-image: url(../images/icon-svg/antenna-icon.svg);
}

.icon-clock::before {
  background-image: url(../images/icon-svg/clock-icon.svg);
}

.icon-diagram::before {
  background-image: url(../images/icon-svg/diagram-icon.svg);
}

.icon-astronaut::before {
  background-image: url(../images/icon-svg/astronaut-icon.svg);
}

/* Секція 3 */

.technology {
  padding-top: 94px;
  padding-bottom: 94px;
}

.technology-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.technology-list {
  display: flex;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.technology-product {
  flex-basis: calc((100% - 60px / 3));
  margin-right: var(--card-set-gap);
}

.technology-product:nth-child(3n) {
  margin-right: 0;
}

.card {
  display: block;
  max-width: 100%;
}

/* Секція 4 */
.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-profession {
  margin-top: 0;
  margin-bottom: 0;

  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-font-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.team-specialist {
  flex-basis: calc((100% - 90px) / 4);
  margin-right: var(--card-set-gap);

  background: #ffffff;

  border-radius: 0px 0px 4px 4px;
  border-color: transparent;
}

.team-specialist:nth-child(4n) {
  margin-right: 0;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Підвал */
.contacts {
  background-color: #2f303a;
}

.contacts-list {
  list-style: none;
}
/* Логотип наслідує властивості, задані логотипу у шапці */

.contacts {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo.footer {
  margin-right: 0;
  display: block;
  margin-bottom: 20px;

  color: var(--wite-text-color);
}

.contacts-list {
  margin: 0;
  padding-left: 0;
}

.list-address:not(:last-child) {
  margin-bottom: 9px;
}

.contacts > .logo {
  color: #ffffff;
}

.contacts-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--wite-text-color);
}
.contacts-mail,
.contacts-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
}

.address {
  font-style: normal;
}

/* ПОРТФОЛІО */
/* Шапка */
/* Фон шапки наслідується з CSS правила щодо шапки першої сторнінки. */
/* Логтип наслідує властивості з CSS правила щодо Логотипу першої сторнінки.*/
.nav-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: #2196f3;
}

.nav-stdio,
.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-font-color);
}

.nav-stdio:hover,
.nav-stdio:focus,
.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--accent-color);
}

.nav {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

/* Властивості посилання мейлу та телефону наслідуються з CSS правила першої сторнінки.*/

/* main */
/* Герой Секція */
/* Колір фону наслідується з CSS правила першої сторнінки.*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filtres {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-library,
.button-websites,
.button-applications,
.button-design,
.button-marketing {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-font-color);
  background-color: var(--button-color);

  border-radius: 4px;
  border-color: transparent;

  cursor: pointer;
}

.button-library:hover,
.button-websites:hover,
.button-applications:hover,
.button-design:hover,
.button-marketing:hover,
.button-library:focus,
.button-websits:focus,
.button-applications:focus,
.button-design:focus,
.button-marketing:focus {
  color: var(--wite-text-color);
  background-color: var(--button-accent-color);
}

.button {
  display: flex;
  justify-content: center;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 50px;

  list-style: none;
}

.btn-list:not(:last-child) {
  margin-right: 8px;
}

.projects-title {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-font-color);
}
.projects-text {
  margin-top: 0;
  margin-bottom: 0;

  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--secondary-font-color);
}

.projects-name {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.projects-page {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
}

.projects-page:nth-child(3n) {
  margin-right: 0;
}

.projects-page:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* Підвал */
/* Фон та колір наслідується з CSS правила щодо Підвалу першої сторнінки. */
/* Контакти наслідують властивості текста та шрифта з CSS правила щодо Підвалу першої сторнінки.*/
